<div [ngClass]="{target : classStatus}">
  {{100 | currency}}
  <br>
  {{data | date:'medium'}}
  <div appRed>
    {{'hallow'  | size:'apper'}}
  </div>
  <br>
  <button [ngStyle]="{'background-color' : 'silver'}"  (click)="darcktem()">TEAM</button>


  <form [formGroup]="forms">
    <div>
      <div>
        <input formControlName="login">
      </div>
      <div *ngIf="forms.controls.login.invalid">
        login is not required
      </div>
    </div>
    <hr>
    <div>
      <div>
        <input formControlName="password">
      </div>
      <div *ngIf="forms.controls.password.invalid">
        password is not required
      </div>
    </div>
      <button (click)="castrate(forms) " [disabled]="forms.invalid">save</button>
  </form>
<br>
  <br>
  <br>

  <form [formGroup]="forms">
    <div>
        <input formControlName="id" type="number">
    </div>
    <div>
      <input formControlName="title">
    </div>
    <div>
      <input formControlName="body">
    </div>
    <div>
      <select formControlName="type">
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="hi">hi</option>
      </select>
    </div>



    <button (click)="save(forms) " >save</button>
  </form>
  <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>

  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>

  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>

  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>

  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>

  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>
  <br>
  <br>

  <br>

  <br>

</div>
